@import "header/_header-left";
@import "header/_header-search";
@import "header/_searched-keywords";
@import "header/_search-suggestion";
@import "header/_header-right";
@import "header/_sticky-header";

.header-wrap {
    position: relative;
    z-index: 12;
}

.header-wrap-inner {
    padding: 22px 0;
}

@media screen and (min-width: 992px) {
    .header-wrap-inner {
        padding: 8px 0;
    }

    .header-wrap-inner .container > .d-flex {
        align-items: center;
    }
}

@media screen and (max-width: 991px) {
    .header-wrap-inner {
        padding: 5px 0;
        border-bottom: 1px solid var(--border-color);
    }

    .header-wrap {
        .container {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        .header-column-left,
        .header-column-right {
            display: none !important;
        }
    }
}
