#section_35_widget_76{
background-color:transparent ;
}
#section_35_widget_62{
background-color:transparent ;
}
#section_35_5{
padding-top:50px !important;
padding-bottom:50px !important;
background-color:transparent ;
}